{
	email {env.EMAIL}
	admin off
}

import /etc/caddy/config/*.caddy

(global) {
	# location /robots.txt {
    #     return 200 "User-agent: *\\nDisallow: /\\n";
    # }
    header {
        X-Robots-Tag "noindex, noarchive, nofollow, nosnippet"
		X-XSS-Protection "1; mode=block"
    }
	encode zstd gzip
}