version: "3.7"

networks:
  web:
    external: true

services:
  caddy:
    image: caddy:2.10.2-alpine@sha256:7f4c19ed8c32f961644681823de1a2fe5b74c84a45d0f3995286010c84b6c554
    container_name: caddy
    restart: always
    command: caddy run --watch --config /etc/caddy/Caddyfile --adapter caddyfile 
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      - EMAIL
    volumes:
      - /home/ubuntu/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /home/ubuntu/caddy/config:/etc/caddy/config:ro
      - /home/ubuntu/caddy/static:/srv/static:ro
      - /home/ubuntu/caddy/proxy_error_page.html:/srv/proxy_error_page.html:ro
      - data:/data
      - config:/config
      - piped-proxy:/var/run/ytproxy
    networks:
      web:

volumes:
  data:
  config:
  piped-proxy:
    external: true
