networks:
  web:
    external: true
  default:
    enable_ipv6: true

services:
  rimgo:
    image: codeberg.org/rimgo/rimgo:1.4.1@sha256:92d67319a1dea5663eedd23ec6d16b123ae7f6f814e40837117a6bb6a9667d86
    # ports:
    #   - 3000:3000
    environment:
      PRIVACY_COUNTRY: Saudi Arabia
      PRIVACY_PROVIDER: Oracle Cloud
      PRIVACY_DIAGNOSTICS: yes
      PRIVACY_IP: yes
      PRIVACY_URL: yes
      PRIVACY_DEVICE: yes
    restart: unless-stopped
    user: 65534:65534 # equivalent to `nobody`
    read_only: true
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    networks:
      - default

  anubis:
    container_name: anubis-rimgo
    image: ghcr.io/techarohq/anubis:latest@sha256:940ac71ef6fc5a90884a33cece2ebca41110909582624ad73b8c76b8cfcd0d35
    environment:
      BIND: ":8923"
      DIFFICULTY: "3"
      METRICS_BIND: ":9090"
      SERVE_ROBOTS_TXT: "false"
      TARGET: "http://rimgo:3000"
    volumes:
      - /home/ubuntu/anubis/botPolicy.json:/data/cfg/botPolicy.json:ro
    user: "1000:1000"
    restart: always
    networks:
      - web
      - default
    depends_on:
      - rimgo
