version: '3.3'

networks:
  web:
    external: true

services:
  element:
    image: vectorim/element-web:v1.12.9@sha256:ed7a0b4a358f65715f51a7a637f5b309c3c1d8e4c170e17cc06c7bb1b964fac3
    container_name: element
    restart: unless-stopped
    # ports:
    # - 8002:80
    configs:
      - source: element
        target: /app/config.json
    networks:
      web:

configs:
  element:
    file: /home/ubuntu/element/config.json