version: '3.3'

networks:
  web:
    external: true

services:
  element:
    image: vectorim/element-web:v1.12.6@sha256:a84f294ce46e4327ebacecb78bfc94cf6a45c7ffa5104a28f06b5ac69d0b2548
    container_name: element
    restart: unless-stopped
    # ports:
    # - 8002:80
    configs:
      - source: element
        target: /app/config.json
    networks:
      web:

configs:
  element:
    file: /home/ubuntu/element/config.json