networks:
  web:
    external: true
  default:
    enable_ipv6: true

services:
  scribe:
    container_name: scribe
    image: ghcr.io/fariszr/scribe:latest@sha256:76a0bad4da15b8e72f8334655c1d14534d4ea85f374eb23f8b8a92b0b04d6a7d
    restart: always
    environment:
      - APP_DOMAIN=scribe.aosus.link
      - LUCKY_ENV=production
      - PORT=8080
      - SECRET_KEY_BASE
    networks:
      default:

  anubis:
    container_name: anubis-scribe
    image: ghcr.io/techarohq/anubis:latest@sha256:5cf4c0d6c7ea01a356c6685a779971bdd28d6a5a4a6719201f73a9c4ae108db0
    environment:
      BIND: ":8923"
      DIFFICULTY: "3"
      METRICS_BIND: ":9090"
      SERVE_ROBOTS_TXT: "false"
      TARGET: "http://scribe:8080"
    volumes:
      - /home/ubuntu/anubis/botPolicy.json:/data/cfg/botPolicy.json:ro
    user: "1000:1000"
    restart: always
    networks:
      - web
      - default
    depends_on:
      - scribe
