version: '3'

networks:
  web:
    external: true
  default:
    enable_ipv6: true

services:
  quetre:
    image: oci.fariszr.com/fariszr/quetre:latest@sha256:7a9a8500fd0acaa1568ff58ac61518b791e26699b462fdc4d0342b0d3dcd73aa
    expose:
      - 3000
    restart: always
    networks:
      default:


  anubis:
    container_name: anubis-quetre
    image: ghcr.io/techarohq/anubis:latest@sha256:5cf4c0d6c7ea01a356c6685a779971bdd28d6a5a4a6719201f73a9c4ae108db0
    environment:
      BIND: ":8923"
      DIFFICULTY: "3"
      METRICS_BIND: ":9090"
      SERVE_ROBOTS_TXT: "false"
      TARGET: "http://quetre:3000"
    volumes:
      - /home/ubuntu/anubis/botPolicy.json:/data/cfg/botPolicy.json:ro
    user: "1000:1000"
    restart: always
    networks:
      - web
      - default
    depends_on:
      - quetre