version: '3.3'

networks:
  default:
    enable_ipv6: true
  web:
    external: true

services:
  searxng:
    image: ghcr.io/searxng/searxng:latest@sha256:edf110a2816d8963949d03879c72a7e19c221b5f7bfb7952a33ae073f96ccb18
    restart: unless-stopped
    depends_on:
      - redis
    expose:
      - 8080
    environment:
      - BASE_URL="https://search.aosus.org"
      - IMAGE_PROXY=True
      - INSTANCE_NAME="بحث أسس"
      - AUTOCOMPLETE=google
    volumes:
      - /home/ubuntu/searxng/fav.png:/usr/local/searxng/searx/static/themes/simple/img/favicon.png:ro
      - /home/ubuntu/searxng/fav.png:/usr/local/searxng/searx/static/themes/oscar/img/favicon.png:ro
      - /home/ubuntu/searxng/logow.png:/usr/local/searxng/searx/static/themes/simple/img/searxng.png:ro
      - /home/ubuntu/searxng/logow.png:/usr/local/searxng/searx/static/themes/oscar/img/logo_searx_a_n.png:ro
    configs:
      - source: searxng
        target: /etc/searxng/settings.yml
      - source: searxng-uwsgi
        target: /etc/searxng/uwsgi.yml
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    networks:
      web:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  redis:
    container_name: redis
    image: "redis:7.4.8-alpine@sha256:8b81dd37ff027bec4e516d41acfbe9fe2460070dc6d4a4570a2ac5b9d59df065"
    command: redis-server --save "" --appendonly "no"
    restart: always
    tmpfs:
      - /var/lib/redis
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE

configs:
  searxng:
    file: /home/ubuntu/searxng/settings.yml
  searxng-uwsgi:
    file: /home/ubuntu/searxng/uwsgi.yml
