version: '3.3'
networks:
  web:
    external: true
  default:
    enable_ipv6: true

services:
  nitter:
    image: docker.io/zedeus/nitter:latest-arm64@sha256:955378f0efb5fdddb7719f02e944ee5dbb406d76d7f363a1ba5578ab8a705cbd
    restart: always
    container_name: nitter
    depends_on:
      - redis
    configs:
      - source: nitter
        target: /src/nitter.conf
    volumes:
      - /home/ubuntu/nitter/sessions.jsonl:/src/sessions.jsonl:Z,ro
    networks:
      default:
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:8080/Jack/status/20 || exit 1
      interval: 30s
      timeout: 5s
      retries: 2

  redis:
    image: redis:7-alpine@sha256:8b81dd37ff027bec4e516d41acfbe9fe2460070dc6d4a4570a2ac5b9d59df065
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - nitter-redis:/data
    healthcheck:
      test: redis-cli ping
      interval: 30s
      timeout: 5s
      retries: 2

  anubis:
    container_name: anubis-nitter
    image: ghcr.io/techarohq/anubis:latest@sha256:940ac71ef6fc5a90884a33cece2ebca41110909582624ad73b8c76b8cfcd0d35
    environment:
      BIND: ":8923"
      DIFFICULTY: "3"
      METRICS_BIND: ":9090"
      SERVE_ROBOTS_TXT: "false"
      TARGET: "http://nitter:8080"
    volumes:
      - /home/ubuntu/anubis/botPolicy.json:/data/cfg/botPolicy.json:ro
    user: "1000:1000"
    restart: always
    networks:
      - web
      - default
    depends_on:
      - nitter

volumes:
  nitter-redis:

configs:
  nitter:
    file: /home/ubuntu/nitter/nitter.conf
