name: deploy-nitter

on:
  push:
    paths:
      - '.github/workflows/nitter.yml'
      - 'nitter/**'
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Tailscale
        uses: tailscale/github-action@564fe381c8a09ced277dfc55386a7a00ff064b73
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          tags: tag:deploy-ci
          hostname: Github-actions
          version: ${{ vars.TAILSCALE_VERSION }}

      - name: Add secrets to config files
        env:
          NITTER_HMACKEY: ${{ secrets.nitter_hmackey }}
        run: |
          sed -i "s/(nitter_hmackey)/$NITTER_HMACKEY/g" $GITHUB_WORKSPACE/nitter/nitter.conf

      - name: Start Deployment
        uses: FarisZR/docker-compose-gitops-action@v1
        with:
          remote_docker_host: ${{ secrets.server_address }}
          tailscale_ssh: true # no need for manual private and public keys
          upload_directory: true # upload docker directory
          docker_compose_directory: nitter # directory to upload
          compose_file_path: nitter/docker-compose.yml
          args: -p nitter up -d --remove-orphans