name: deploy-scribe

on:
  push:
    paths:
      - '.github/workflows/scribe.yml'
      - 'scribe/**'
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: scribe
      url: https://scribe.aosus.link
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Tailscale
        uses: tailscale/github-action@7bdbdbb51995cb7a885cd660b5af1bb686fdd2ce
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          tags: tag:deploy-ci
          hostname: Github-actions
          version: ${{ vars.TAILSCALE_VERSION }}

      - name: Start Deployment
        uses: FarisZR/docker-compose-gitops-action@v1
        env:
          SECRET_KEY_BASE: ${{ secrets.scribe_secret_key_base }}
        with:
          remote_docker_host: ${{ secrets.server_address }}
          tailscale_ssh: true # no need for manual private and public keys
          compose_file_path: scribe/docker-compose.yml
          args: -p scribe up -d --remove-orphans