name: deploy-simplytranslate

on:
  push:
    paths:
      - '.github/workflows/workflows/simplytranslate.yml'
      - 'simplytranslate/**'
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Tailscale
        uses: tailscale/github-action@564fe381c8a09ced277dfc55386a7a00ff064b73
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          tags: tag:deploy-ci
          hostname: Github-actions
          version: ${{ vars.TAILSCALE_VERSION }}

      - name: Start Deployment
        uses: FarisZR/docker-compose-gitops-action@v1
        with:
          remote_docker_host: ${{ secrets.server_address }}
          tailscale_ssh: true # no need for manual private and public keys
          compose_file_path: simplytranslate/docker-compose.yml
          args: -p simplytranslate up -d --remove-orphans